<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DefaultServerPort" value="11000"/>
    <add key="DefaultServerName" value="pazzi.parse3.local"/>
    <add key="DefaultIP1" value="127"/>
    <add key="DefaultIP2" value="0"/>
    <add key="DefaultIP3" value="0"/>
    <add key="DefaultIP4" value="1"/>

    <add key="PingInterval" value="5000"/>
    
    <add key="ClientDataFile" value="ClientData.xml"/>
    <add key="ServerDataFile" value="ServerData.xml"/>

    <add key="MinimumGridSize" value="10"/>
    <add key="MaximumGridSize" value="256"/>
  </appSettings>
</configuration>