<?xml version="1.0"?>
<configuration>
  <!-- Keep in sync with XNA project's app.config -->
  <appSettings>
    <add key="DefaultServerNetSocketPort" value="11000"/>
    <add key="DefaultServerWebSocketPort" value="11001"/>
    <add key="DefaultServerName" value="pazzi.parse3.local"/>
    
    <add key="DefaultIP1" value="127"/>
    <add key="DefaultIP2" value="0"/>
    <add key="DefaultIP3" value="0"/>
    <add key="DefaultIP4" value="1"/>

    <add key="PingInterval" value="60000"/>

    <add key="ClientDataFile" value="ClientData.xml"/>
    <add key="ServerDataFile" value="ServerData.xml"/>
    <add key="ServerFogDataFolder" value="FogData"/>

    <add key="MinimumGridSize" value="10"/>
    <add key="MaximumGridSize" value="256"/>

    <add key="MinimumZoomFactor" value="0.2"/>
    <add key="MaximumZoomFactor" value="10.0"/>

    <add key="LogPings" value="false"/>

    <!-- The duration (in ms) between Fog Saves, for backup purposes. -->
    <add key="FogSaveInterval" value="60000"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
