<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!-- Keep in sync with XNA project's app.config -->
  <appSettings>
    <!-- The full path to the Win Forms app to launch. If in the same folder, just the name is sufficient. This config does not exist in the Win config. -->
    <add key="WinFormsApp" value="DnDCS.Win.exe"/>
    <!-- If 1, the debug values will be written out. This config does not exist in the Win config. -->
    <add key="ShowDebug" value="false"/>
    
    <add key="DefaultServerPort" value="11000"/>
    <add key="DefaultServerName" value="pazzi.parse3.local"/>

    <add key="DefaultIP1" value="127"/>
    <add key="DefaultIP2" value="0"/>
    <add key="DefaultIP3" value="0"/>
    <add key="DefaultIP4" value="1"/>
  </appSettings>
</configuration>